<body>

    <div class="center">
        <img src="../Assets/imgs/logo.png" width="20%">
    </div>
    <h1 class="center" style="margin-top: -50px; margin-bottom: 50px;"></h1>
    <div class="center">
        <div class="texto">
            <h2>Used Frameworks/Libs:</h2>
            <h3>- AOS <a href="https://michalsnik.github.io/aos/">(Source)</a></h3>
            <h3>- FontAwesome <a href="https://fontawesome.com">(Source)</a></h3>
            <h3>- Bootstrap <a href="https://getbootstrap.com/">(Source)</a></h3>
            <h3>- jQuery <a href="https://jquery.com">(Source)</a></h3>
            <h3>- SweetAlert2 <a href="https://sweetalert2.github.io">(Source)</a></h3>
        </div>
    </div>
</body>

</html>