<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<link rel="stylesheet" href="../Assets/css/main.css">
<link rel="stylesheet" href="../Assets/css/admin.css">
<script src="../Assets/js/create.js"></script>
<link rel="stylesheet" href="../Assets/css/aos.css" />
<script src="../Assets/js/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="../Assets/js/login.js"></script>


<body>
      <div class="container">
        <div data-aos="fade-in" data-aos-duration="500" class="containerlogin" >
          <div class="titulo bordinha">
            <div class="titulo center">
                <h1>Login</h1><br>
            </div>
            <div class="area1">
              <form action="/verify" method="post">
                <div class="inpt1"><input id="inputemail" required style="background-color: #FFFFFF !important; color: #000000 !important;" class="form-control" name="txt_email" placeholder="E-mail"><br>
                <input id="inputpass" name="txt_pass" required style="background-color: #FFFFFF !important;color: #000000 !important;" class="form-control" type="password" placeholder="Senha">
                <div class="center cf-turnstile" style="padding-top: 10px;" data-sitekey="0x4AAAAAAAC9NlfV5RvrSVwX" data-callback="javascriptCallback"></div>
                <div class="center"><input class="btn btn-dark bt1" type="submit" value="Logar-se"></div> 
              </form>
            </div>
          </div>
        </div>
      </div>
</body>







</html>