1. Coleta de informações: Ao se registrar em nosso site, você nos fornece informações pessoais, como seu nome, endereço de e-mail, senha e endereço IP. Essas informações são coletadas para fins de autenticação do usuário e para melhorar sua experiência em nosso site.
<br>

2. Armazenamento de informações: Ao se registrar em nosso site, você nos dá permissão para armazenar suas informações pessoais em nosso banco de dados. Fazemos todos os esforços para garantir que suas informações sejam armazenadas com segurança e nunca compartilhadas com terceiros sem sua permissão explícita.
<br>

3. Uso de informações: Ao fornecer suas informações pessoais, você nos dá permissão para usar essas informações para autenticação do usuário e para melhorar sua experiência em nosso site. Além disso, podemos usar suas informações para fins de marketing, desde que você tenha optado por receber comunicações de marketing de nós.
<br>

4. Conexão com banco de dados: Para garantir que suas informações sejam armazenadas com segurança, usamos uma conexão segura com nosso banco de dados. Ao usar nosso site, você nos dá permissão para usar sua conexão de internet para fazer essa conexão com o banco de dados.
<br>

5. Uso de cookies: Usamos cookies para melhorar sua experiência em nosso site. Esses cookies são armazenados em seu computador e nos permitem personalizar o conteúdo que você vê em nosso site. Ao utilizar nosso site, você nos dá permissão para usar cookies.
<br>

6. Envio de anúncios falsos: Não é permitido enviar anúncios falsos em nosso site. Se um usuário for flagrado enviando anúncios falsos, sua conta será imediatamente terminada e ele poderá ser banido de nosso site permanentemente.
<br>

7. Imagens de terceiros com copyright: Não nos responsabilizamos pelo envio de imagens com copyright de terceiros pelo usuário em nosso site. Ao enviar imagens, o usuário concorda em assumir total responsabilidade pela imagem e garantir que não infrinja os direitos de terceiros.
<br>
8. Infração de leis e regras do site: Se um usuário infringir qualquer lei ou regra em nosso site, sua conta será terminada permanentemente. Nos reservamos o direito de tomar medidas legais contra o usuário, se necessário.

