<div class="container mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Termos de Uso da ByteStore</h1>
    <p class="mb-4">Bem-vindo à ByteStore! Antes de utilizar nossos serviços e adquirir produtos em nossa loja, pedimos
        que você leia atentamente e concorde com os seguintes Termos de Uso. Ao acessar e utilizar o site da ByteStore
        (doravante denominado "Site"), você concorda em cumprir integralmente os termos e condições estabelecidos a
        seguir.</p>

    <h2 class="text-xl font-semibold mb-2">1. Coleta de Informações</h2>
    <p class="mb-4">A ByteStore se compromete a proteger sua privacidade e segurança. Para garantir uma experiência
        segura e personalizada em nosso Site, coletamos informações básicas, incluindo seu endereço de IP e endereço de
        e-mail. Essas informações são coletadas exclusivamente para fins de segurança, autenticação de usuário e
        melhorias nos serviços oferecidos. Respeitamos sua privacidade e não compartilharemos essas informações com
        terceiros, a menos que seja exigido por lei.</p>

    <h2 class="text-xl font-semibold mb-2">2. Alterações nos Termos de Uso</h2>
    <p class="mb-4">Os Termos de Uso da ByteStore podem ser atualizados ou alterados a qualquer momento, conforme a
        necessidade da empresa. Recomendamos que você reveja periodicamente estes termos para se manter atualizado sobre
        eventuais mudanças. Ao continuar a utilizar o Site após a atualização dos Termos de Uso, você concorda
        automaticamente com as modificações.</p>

    <h2 class="text-xl font-semibold mb-2">3. Aceitação dos Termos de Uso</h2>
    <p class="mb-4">Ao criar uma conta e/ou efetuar login no Site da ByteStore, você declara ter lido, compreendido e
        concordado com estes Termos de Uso. Se você não concorda com algum aspecto destes termos, recomendamos que não
        utilize nosso Site. O uso de nossos serviços implica na aceitação irrestrita destes Termos de Uso.</p>

    <h2 class="text-xl font-semibold mb-2">4. Responsabilidades do Usuário</h2>
    <p class="mb-4">Você é responsável por manter a confidencialidade de suas credenciais de acesso, como nome de
        usuário e senha. Qualquer atividade que ocorra sob sua conta é de sua inteira responsabilidade. Se suspeitar que
        sua conta foi comprometida ou que ocorreu um acesso não autorizado, entre em contato conosco imediatamente.</p>

    <h2 class="text-xl font-semibold mb-2">5. Uso Adequado</h2>
    <p class="mb-4">Ao utilizar o Site da ByteStore, você concorda em não:</p>
    <ul class="list-disc pl-4 mb-4">
        <li>Violar qualquer lei aplicável;</li>
        <li>Fornecer informações falsas ou enganosas;</li>
        <li>Realizar atividades que possam danificar, desabilitar ou sobrecarregar nosso Site;</li>
        <li>Tentar acessar informações não autorizadas;</li>
        <li>Cometer qualquer ato que prejudique a experiência de outros usuários;</li>
        <li>Usar nossos serviços para qualquer finalidade ilegal ou não autorizada.</li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">6. Rescisão de Conta</h2>
    <p class="mb-4">A ByteStore reserva o direito de rescindir ou suspender sua conta, a seu exclusivo critério, se
        acreditar que você violou estes Termos de Uso ou agiu de forma inadequada. A rescisão de conta pode resultar na
        perda de acesso aos serviços da ByteStore.</p>

    <h2 class="text-xl font-semibold mb-2">7. Contato</h2>
    <p class="mb-4">Para entrar em contato conosco em relação a estes Termos de Uso ou qualquer outra dúvida relacionada
        aos nossos serviços, por favor, envie um e-mail para <a href="mailto:seuemail@bytestore.com"
            class="text-blue-500">feedback@iagofragnan.com.br</a>.</p>

    <p class="mb-4">Agradecemos por escolher a ByteStore como sua loja de computadores de confiança. Estamos empenhados
        em fornecer a você produtos e serviços de alta qualidade, bem como manter a segurança e a privacidade de seus
        dados.</p>
</div>