.grid1-create-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". grid1-create-title ."
      ". grid1-create ."
      ". grid1-create .";
    margin-top: 1% !important;
    background-color: #30343F !important;
    border-radius: 10px;
  }
  
  .grid1-create-antitle img{
    padding-bottom: 1% !important;
  }
  
  .grid1-create {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid1-create-antitle"
      "grid1-create-andesc"
      "grid1-create-anprice"
      "grid1-create-animage"
      "grid-create-angateway";
    grid-area: grid1-create;

  }
  
  .grid1-create-antitle {
    justify-self: center;
    grid-area: grid1-create-antitle;
    padding-bottom: 2% !important;

    
    
  }
  
  .grid1-create-andesc {
    justify-self: center;
    grid-area: grid1-create-andesc;
    padding-bottom: 5% !important;

  }
  
  .grid1-create-anprice {
    justify-self: center;
    grid-area: grid1-create-anprice;
    padding-bottom: 5% !important;

  }
  
  .grid1-create-animage {
    justify-self: center;
    grid-area: grid1-create-animage;
    padding-bottom: 5% !important;
  }
  
  .grid-create-angateway {
    justify-self: center;
    grid-area: grid-create-angateway;
    padding-bottom: 5% !important;
  }
  
.alert{
  z-index: -1 !important;
  display: flex !important;
  position: absolute !important;
}