.container h1{
    font-size: 3vh !important;
}


.titulo-container{
    display: block;
}


.box .row{
    margin-left: 1vh !important;
    width: 50vh !important;
}

.box input[type="submit"]{
    width: 20vh !important;
    height: auto !important;
    border-radius: 10px !important;
}
.margin{
    margin: 1vh !important;
}

.animg{
    height: 10px !important;
    width: auto !important;
}

.image_preview{
    width: 7em;
    border-radius: 10px;
    height: auto;
}

.box-container{
    display: flex;
    width: 70vh !important;
    height: 60vh !important;
    justify-content: center;
    align-items: center;
    align-self: center;

}
.box{
    background-color: #202020;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}