body{
    background-color: #EBEBEB;
}

@font-face {
    font-family: 'Poppins Light';
    src: URL('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Medium';
    src: URL('../fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: URL('../fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Regular';
    src: URL('../fonts/Poppins-Medium.ttf') format('truetype');
}

.poppins-light{
    font-family: 'Poppins Light';
}
.poppins-medium{
    font-family: 'Poppins Medium';
}
.poppins-regular{
    font-family: 'Poppins Regular';
}
.poppins-bold{
    font-family: 'Poppins Bold';
}