.box1 {
  background-color: #30343F;
  width: 90vh !important;
  height: 80vh !important;
  border-radius: 10px;
  margin-left: -10vh;
}

.box2 {
  background-color: #30343F;
  width: 35vh !important;
  height: 25vh !important;
  border-radius: 10px;
  left: 135vh;
  top: 10vh;
}

img {
  margin-top: 5vh;
  width: 40vh;
  height: auto;

  border-radius: 10px;

}

h1 {
  font-size: 2vh;
}

h2 {
  font-size: 2vh;
}

.infos {
  margin-top: 3vh;
  margin-left: 3vh;
}

button {
  width: 50% !important;
  margin-top: -5vh !important;
}

.anuncio_desc{
  margin-left: 4vh !important;
  margin-top: 10vh !important;
}
hr{
  margin-left: -5vh;
  width: 90vh !important;
}