.container-fluid{
}

.fix{
}

.box-title{
    width: 100vh !important;
    height: 20vh !important;
    background-color: #30343F;
    border-radius: 15px;
    margin-top: -26vh !important;
}

.box-products{
    width: 100vh !important;
    height: 90vh !important;
    background-color: #30343F;
    border-radius: 15px;
    margin-top: 30vh !important;
}

.profile-img{
    margin-left: 10vh !important;
    margin-right: -20vh !important;
}

.verified{
    font-size: 10px !important;
    text-align: center;
    vertical-align: middle;
}

.store-desc p{
    font-size: 1.5vh !important;
    text-align: start;
}


.box-title .col-4{
    margin-top: 3vh !important;
}

.box-title .col-7{
    margin-top: 3vh !important;

}
.store-name h1{
    font-size: 3.2vh;
    text-align: start;
    vertical-align: middle;
    margin-bottom: -1.2vh;
}

.box-products-title h1{
    padding-top: 1vh !important;; 
    font-size: 3vh !important;
}

.col{
    max-width: 13rem !important;
    max-height: 15rem !important;
    min-width: 13rem !important;
    min-height: 15rem !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
}

.mdcard{
    display: block;
    margin: 1vh !important;
    width: 13rem !important;
    height: 15rem !important;
    margin-right: -5vh !important;
}

.bt-edit{
    border-radius: 100px;
    margin-left: 32vh;
    margin-top: -0.8vh;
    text-align: center;
    vertical-align: middle;
    font-size: 12px !important;
    font-weight: bold;
}