.box-title{
    width: 90vh !important;
    height: 20vh !important;
    background-color: #30343F;
    border-radius: 15px;
    margin-top: -30vh !important;
}

.box-products{
    width: 90vh !important;
    height: 90vh !important;
    background-color: #30343F;
    border-radius: 15px;
    margin-top: 27vh !important;
}

.profile-img{
    margin-left: 10vh !important;
    margin-right: 10vh !important;
}

.verified{
    font-size: 10px !important;
    text-align: center;
    vertical-align: middle;
}

.store-desc p{
    font-size: 1.5vh !important;
    text-align: start;
    margin-left: 1vh !important;
}


.box-title .col-4{
    margin-top: 3vh !important;
}

.box-title .col-7{
    margin-top: 3vh !important;

}
.store-name h1{
    font-size: 3.2vh;
    text-align: start;
    vertical-align: middle;
    margin-bottom: -1.2vh;
    margin-left: 1vh !important;
}

.box-products-title h1{
    padding-top: 1vh !important;; 
    font-size: 3vh !important;
}

.col{
    max-width: 11.8rem !important;
    max-height: 15rem !important;
    min-width: 11.8rem !important;
    min-height: 15rem !important;
    margin-left: 5vh !important;
    margin: 1vh !important;
    margin-bottom: 5px !important;
}
.mdcard{
    display: block;
    margin: 1vh !important;
    width: 13rem !important;
    height: 15rem !important;
    margin-left: -0.4vh !important;
    margin-right: 5vh !important;
}

.bt-edit{
    border-radius: 10px;
    margin-left: 32vh;
    margin-top: -0.8vh;
    text-align: center;
    vertical-align: middle;
    font-size: 10px !important;
    height: 3vh !important;
    width: 11vh !important;
    font-weight: bolder;
    font-family: var(--fonte-poppins) !important;
    
}